:root {
  --default-font: Arial, Helvetica, sans-serif;
  --default-color: #0379ff;
  --color: #fff;
}
.container {
  font-family: var(--default-font);
  width: 80%;
  margin: 0 auto;
}
table,
td {
  border: solid 2px black;
  text-align: center;
  border-collapse: collapse;
}

.bold ~ tr td {
  border: solid 1px lightgray;
}

td {
  padding: 0.5em;
}

[colspan="4"][rowspan="2"] {
  height: 6em;
}
.tab {
  background-color: var(--default-color);
  font-family: var(--default-font);
  color: var(--color);
  padding-top: 10px;
}
.invoice-details {
  background-color: var(--default-color);
  text-align: center;
  color: var(--color);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 19px;
  font-weight: 300;
}
.name {
  font-size: 20px;
  font-weight: 300;
  padding: 6px;
}
.list {
  list-style-type: none;
  padding: 5px;
}
li {
  margin: 8px;
  font-size: 13px;
}
