:root {
  --default-font: Arial, Helvetica, sans-serif;
  --default-color: #0379ff;
  --color: #fff;
}
.container {
  font-family: var(--default-font);
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid none;
  border-radius: 4px;
}
table.details,
td {
  border: solid 1px gray;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.bold ~ tr td {
  border: solid 1px lightgray;
}

td {
  padding: 0.5em;
}

[colspan="8"][rowspan="2"] {
  height: 3em;
}
.wide-cell {
  width: 100%;
  padding: 10px;
  font-weight: bold;
}
.sub-tab {
  font-weight: bold;
}
.tab {
  background-color: var(--default-color);
  font-family: var(--default-font);
  color: var(--color);
  padding-top: 10px;
}
.invoice-details {
  background-color: var(--default-color);
  text-align: center;
  color: var(--color);
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 1px;
  font-size: 19px;
  font-weight: 300;
}
.name {
  font-size: 20px;
  font-weight: 300;
  padding: 6px;
}
.list {
  list-style-type: none;
  padding: 5px;
}
li {
  margin: 8px;
  font-size: 13px;
}
.items {
}
